*{
    margin: 0;padding: 0;

}
#bosy{
    background-color: rgb(2, 2, 41);
}
#nas{
    display: flex;
    justify-content: space-around;
    background-color: rgb(22, 6, 62);
    color: white;
    height: 50px;
    align-items: center;
}
.rightnav ul{
    display: flex;
    justify-content: space-evenly;
    width: 30vw;
}
.rightnav ul li a{
   text-decoration: none;
   color: white;
}
.rightnav ul li{
    list-style: none;
 }
 section{
    display: flex;
    justify-content: center;
 }
 .rightsec1 img{
    margin: 92px;
    padding-left: 281px;
 }
 .leftsec1{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    padding-left: 200px;
 }
 .leftsec1 h1{
    color: rgb(103, 24, 176);
 }
 #element{
    font-size: 20px;
 }
 #sakkaga{
    display: flex;
    justify-content: space-evenly;
 }
 .section2{
   padding-left: 200px;
 }
 .leftsec3 span{
   color: rgb(8, 51, 8);
   font-size:25px;
 }
 .sec4{
   display: flex;
   justify-content: space-around;
   align-items: center;
 }
 .leftt4{
   position: relative;
   right:-150px;
   color:rgb(97, 97, 177);
 }
 .leftsec4{
   position: relative;
   right:150px;
   color: white;
 }
 #sakkaga h5{
   color:rgb(97, 97, 177);
 }
 #sakkaga h6{
   color:white;
 }


 
 